@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    background: #14181f;
}
/* ----Navigation Bar Section---- */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 30px;
    background: #14181f;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 26px;
    font-weight: 500;
    color: #d3d7de;
}
.nav-bar ul li{
    display: inline-block;
    margin-inline: 10px;
    list-style: none;
}
.nav-bar ul li a{
    font-size: 22px;
    text-decoration: none;
    color: #d3d7de;
    background: none;
    padding: 6px 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    outline: none;
     border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
}
#menu-bar{
    width: 55px;
    display: none;
}
#menu-bar img{
    height: 55px;
}

.nav-bar ul li:hover a{
    background: #3a90f8;
   
}
img{
    width: 100%;
}

/* ----Home Section---- */
#home{
    min-height: 100vh;
    width: 100%;
    background-color: #14181f;
    padding-top: 120px;
    border-bottom: 3px solid #d3d7de;
    overflow: hidden;
    position: relative;
}
.home-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.home-content{
    color: #d3d7de;
}
.home-content h4, .home-content h2{
    margin-bottom: 3px;
}
.home-content h4{
    font-size: 25px;
    font-weight: 600;
}
.home-content h2{
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(135deg, #16c47f 0%, #ffd65a 25%, #ff9d23 50%, #f93827 75%, #ffb22C 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}
.home-content p{
    margin-block: 10px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
}
.home-img{
    align-self: center;
    position: relative;
}
.home-img img{
    width: 550px;
    height: 550px;
    margin-right: 60px;
    position: relative;
}
.home-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 550px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.096);
    z-index: 1;
}
.home-social{
    margin-top: 20px;
}
.home-social ul li{
    display: inline-block;
}
.home-social ul li a{
    font-size: 20px;
    color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 2px solid #d3d7de;
    border-radius: 50%;
    line-height: 43px;
    margin: 14px 5px;
    padding: 6px;
    transition: 0.4s ease;
}
.home-social ul li a:hover{
    background: #d3d7de;
}
.home-social ul li:first-child a:hover{
    color: #3a90f8;
}
.home-social ul li:nth-child(2) a:hover{
    color: #000;
}
.home-social ul li:nth-child(3) a:hover{
    color: #3a90f8;
}
.home-social ul li:nth-child(4) a:hover{
    color: #000;
}
.home-btn{
    margin-top: 30px;
}
.home-btn a{
    padding: 12px 22px;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    background: #3a90f8;
    color: #fff;
    border-radius: 10px;
}
.home-btn a:hover{
    background-color: #3282e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* ------About Section----- */
#about{
    width: 100%;
    background: #14181f;
    position: relative;
    border-bottom: 3px solid #d3d7de;
    padding: 60px 38px;
}
.heading{
    width: 60%;
    background: #21242c;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}
.heading h4{
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    color: #3282e4;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.post-heading{
    width: 30%;
    background: #21242c;
    margin: 30px auto;
    text-align: center;
    border-radius: 20px;
}
.post-heading h2{
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    padding: 2px 10px;
}
.about-container{
    width: 80%;
    margin: 0 auto;
}
.about-card{
    width: 100%;
    height: 140px;
    background: #2e3138;
    margin-block: 20px;
    border-radius: 10px;
    padding: 24px;
    border-left: 4px solid transparent;
    border-bottom: 4px solid  transparent;
    transition: 0.4s ease;
}
.about-card:hover{
    border-color: #3282e4;
}
.about-card h4{
    font-size: 24px;
    color: #d3d7de;
    letter-spacing: 1px;
}
.about-card h5{
    letter-spacing: 1px;
    margin: 8px 0;
    color: #d3d7de;
    font-size: 16px;
}
.about-card h6{
    letter-spacing: 1px;
    font-size: 15px;
    color: #3a90f8;
    margin-bottom: 8px;
}

/* ---Skills Section--- */

#skill{
    width: 100%;
    background: #14181f;
    position: relative;
    border-bottom: 3px solid #d3d7de;
    padding: 60px 38px;
}
.skill-container{
    width: 844px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.skill-card{
    border: 4px solid #2e3138;
    background: #21242c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.skill-card .image-box {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.skill-card .content-box{
    min-width: 50%;
    background: transparent;
    border: 2px solid #2e312e;
    margin: 10px 0 -5px 0;
    border-radius: 10px;
    padding: 6px 10px;
    text-align: center;
}
.skill-card .content-box p{
    font-size: 17px;
    font-weight: 600;
    color: #d3d7de;
    cursor: default;
}

/* ----Project Section---- */

#project{
    width: 100%;
    background: #14181f;
    position: relative;
    border-bottom: 3px solid #d3d7de;
    padding: 60px 38px;
}
.project-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-block: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-card{
    width: 550px;
    background: #2e3138;
    border-radius: 0 0 7px 7px;
    border-left: 4px solid transparent;
    border-bottom: 4px solid  transparent;
    transition: 0.4s ease;
}

.project-card:hover{
     border-color: #3282e4;
}
.project-card .image-box img{
    height: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.project-card .content-box{
    background: #2e3138;
    text-align: left;
    padding: 10px 16px;
    border-radius: 0 0 7px 7px;
}
.project-card .content-box h2{
    font-size: 23px;
    font-weight: 700;
    color: #3a90f8;
    border-bottom: 5px;
}
.project-card .content-box p{
    font-size: 16px;
    color: #d3d7de;
    margin-bottom: 12px;
    letter-spacing: 1px;
}
.content-box .share-box{
    display: flex;
    gap: 10px;
}
.share-box .card{
    font-size: 14px;
    color: #3a90f8;
    border: 1px solid #d3d7de;
    border-radius: 5px;
    padding: 5px 10px;
    letter-spacing: 1px;
    align-self: center;
}
.share-box .card2{
    align-self: center;
}
.share-box .card2 ul li{
    list-style: none;
    display: inline-block;
}
.share-box .card2 ul li a{
    font-size: 30px;
    color: #fff;
    transition: 0.4s ease;
}
.share-box .card2 ul li a:hover{
    color: #3a90f8;
}

/* ----Contact Section---- */

#contact{
    width: 100%;
    background: #14181f;
    position: relative;
    border-bottom: 3px solid #d3d7de;
    padding: 60px 38px;
}
.contact-container{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    background: #2e3138;
    border-radius: 10px;
    padding: 24px;
    border-left: 4px solid transparent;
    border-bottom: 4px solid  transparent;
    transition: 0.4s ease;
}
.contact-intro{
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #d3d7de;
}

form input{
    width: 30%;
    height: 35px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #21242c;
    color: #d3d7de;
    margin: 10px;
    border-radius: 4px;
}
textarea{
    width: 100%;
    height: 85px;
    resize: none;
    outline: none;
    font-size: 16px;
    color: #d3d7de;
    border: none;
    background-color: #21242c;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}
form button{
    padding: 10px 20px;
    margin-inline: 10px;
    border: none;
    background-color: #21242c;
    color: #d3d7de;
    border-radius: 4px;font-size: 16px;
}

/* ----Footer Section---- */
footer{
    width: 100%;
    background: #14181f;
    position: relative;
    padding: 24px 48px;
    text-align: center;
}
footer p{
    font-size: 16px;
    color: #d3d7de;
}









/* --Media Queries-- */

@media screen and (max-width: 1280px){
    .home-content{
        flex-basis: 60%;
    }
    .home-img{
        flex-basis: 40%;
    }
    .home-img img{
        width: auto;
    }
}
@media screen and (max-width: 1150px){
    .home-img img{
        margin-right: 0;
    }
}
@media screen and (max-width: 1100px){
    #nav-links{
        position: absolute;
        content: "";
        width: 100%;
        right: 0;
        background: #14181f;
        min-height: 260px;
        padding: 20px;
        top: -300px;
       transition: all 0.4s ease-in-out;
    }
    #nav-links.down{
        top: 100px;
    }
    #menu-bar{
        display: block;
    }
    .nav-bar ul li{
        display: block;
        margin-block: 10px;
        margin-inline: 0;
    }
    .nav-bar ul li a{
        font-size: 16px;
        padding: 0;
        display: block;
        padding: 5px 14px;
        width: 100%;
    }

}

@media screen and (max-width: 1070px){
    .home-container{
        gap: 0;
    }
    .about-container{
        width: auto;
    }
    .about-card{
        height: auto;
    }
    .about-card h4{
        font-size: 17px;
    }
    .about-card h5{
        font-size: 14px;
    }
    .about-card h6{
        font-size: 12px;
    }
    .heading{
        width: 70%;
    }
    .heading h4{
        line-height: 35px;
    }
    .post-heading{
        width: 40%;
    }
    .post-heading h2{
        font-size: 20px;
    }
    .skill-container{
        width: auto;
    }
}
@media screen and (max-width: 900px){
    .home-container{
        flex-direction: column;
        gap: 40px;
    }
    .post-heading h2{
        font-size: 19px;
        line-height: 30px;
        padding: 3px 0;
    }
}
@media screen and (max-width: 870px){
    .heading h4{
        line-height: 30px;
    }
    .project-container{
        gap: 25px;
    }
}
@media screen and (max-width: 630px){
    .post-heading h2{
        font-size: 17px;
        
    }
    #about{
        padding: 30px;
    }
    #skill{
        padding: 30px 18px;
    }
    .skill-container{
        gap: 16px;
    }
    .skill-card .image-box{
        width: 135px;
    }
    .share-box .card{
        padding: 5px;
    }
    #project{
        padding: 30px;
    }
    #contact{
        padding: 20px;
    }
    .contact-container{
        width: auto;
    }
    form input{
        width: 100%;
        margin-inline: 0;
    }
    textarea{
        margin-inline: 0;
    }
    form button{
        margin-inline: 0;
    }
}

@media screen and (max-width: 500px){
    .home-content h4{
        font-size: 20px;
    }
    .home-content h2{
        font-size: 35px;
    }
    .home-content p{
        font-size: 16px;
    }
    .home-social ul li a{
        font-size: 16px;
        margin: 8px 2px;
    }
    .home-btn a{
        padding: 8px 15px;
    }
    .heading{
        width: 80%;
    }
    .post-heading{
        width: 45%;
    }
    .post-heading h2{
        font-size: 15px;
    }
   .skill-card .content-box p{
    font-size: 15px;
   }
    .project-card .content-box h2{
        font-size: 18px;
    }
    .project-card .content-box p {
        font-size: 14px;
    }
    .project-card .content-box p {
        font-size: 14px;
    }
    footer p{
        font-size: 14px;
    }
}

@media screen and (max-width: 420px){
     .skill-card .image-box{
        width: 110px;
    }
}


